<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/header -%>
  </head>

  <body>
    <div id="site-content">
      <header class="site-header">
        <%- include ./partials/navigation -%>
      </header>
      <main class="main-content">
        <div class="container">
          <div class="page">
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <figure class="movie-poster">
                    <img
                      src="http://image.tmdb.org/t/p/w780<%= data.poster_path %>"
                      alt="#"
                    />
                  </figure>
                </div>
                <div class="col-md-6">
                  <h2 class="movie-title">
                    <%= data.original_title %>
                  </h2>
                  <div class="movie-summary">
                    <p><%= data.overview %></p>
                  </div>
                  <ul class="movie-meta">
                    <li>
                      <strong>Rating: </strong><%= data.vote_average %>/10
                    </li>
                    <li><strong>Length:</strong> <%=data.runtime %> min</li>
                    <li><strong>Premiere:</strong> <%=data.release_date %></li>
                    <li>
                      <strong>Category:</strong> <% var genre = "" %> <%
                      if(data.genres){ %> 
                        <% for(var i=0;i<data.genres.length;i++){ %>
                          <% genre += data.genres[i].name + "/" %>
                          <% }%><!--end of for loop-->
                        <% }%><!--end of if-->
                      <%= genre %>
                    </li>
                  </ul>

                  <ul class="starring">
                    <li>
                      <strong>Directors:</strong> <% var director = "" %> <%
                      if(data.credits.crew){ %> 
                        <% for(var i=0;i<data.credits.crew.length;i++){ %>
                          <% if(data.credits.crew[i].department == "Directing"){ %>
                              <% director += data.credits.crew[i].name +", " %>
                            <% } %>
                          <% }%><!--end of for loop-->
                        <% }%><!--end of if-->
                      <%= director %>
                    </li>
                    <li>
                      <strong>Writers:</strong> <% var writer = "" %> <%
                      if(data.credits.crew){ %> 
                        <% for(var i=0;i<data.credits.crew.length;i++){ %>
                          <% if(data.credits.crew[i].department == "Writing"){ %>
                              <% writer += data.credits.crew[i].name +", " %>
                            <% } %>
                          <% }%><!--end of for loop-->
                        <% }%><!--end of if-->
                      <%= writer %>
                    </li>
                    <li>
                      <strong>Stars:</strong><% var text = "" %> <%
                      if(data.credits.cast){ %> <% for(var i=0;i<5;i++){ %> <%
                      text += data.credits.cast[i].name + "("+
                      data.credits.cast[i].character +")" + ", " %> <% } %><!--end of for loop-->
                      <% }%>
                      <!--end if-->
                      <%= text %>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- .row -->
              <div class="entry-content">
                <h3>Trailer</h3>
                <div class="row">
                  <% if(data.videos.results){%>
                    <% for(var i=0;i<data.videos.results.length;i++){ %>
                      <% if(data.videos.results[i].type == "Trailer"){ %>
                        <div class = "col-md-4">
                            <iframe  src="https://www.youtube.com/embed/<%= data.videos.results[i].key %>">
                            </iframe>
                        </div>
                        <% } %><!--end of inner condition-->
                      <% } %><!--end of for loop-->
                    <% } %><!--end if condition-->
                </div>
                <h3 style="margin-top:10px ">Reviews</h3>
                <% if(data.reviews.results){%>
                  <% for(var i=0;i<data.reviews.results.length;i++){ %>
                      <div class="card text-white bg-dark mb-3" >
                          <div class="card-header"><%= data.reviews.results[i].author %></div>
                          <div class="card-body">
                            <h5 class="card-title">Written by <%= data.reviews.results[i].author %></h5>
                            <p class="card-text"><%= data.reviews.results[i].content %></p>
                            <%= data.reviews.results[i].content.length %>%>
                          </div>
                        </div>
                    <% } %><!--end of for loop-->
                  <% } %><!--end if condition-->
              </div>
            </div>
          </div>
        </div>
        <!-- .container -->
      </main>
      <%- include ./partials/footer -%>
    </div>
    <!-- Default snippet for navigation -->

    <%- include ./partials/script -%>
  </body>
</html>
